@model Sneaker.ViewModel.CartViewModel

@{
    ViewBag.Title = "Index";
    Layout = "_UserLayout";
}

<div class="shopping-cart section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" asp-controller="Cart" asp-action="">
                    <table class="table shopping-summery">
                        <thead>
                            <tr class="main-hading">
                                <th>PRODUCT</th>
                                <th>NAME</th>
                                <th class="text-center">UNIT PRICE</th>
                                <th class="text-center">QUANTITY</th>
                                <th class="text-center">TOTAL</th>
                                <th class="text-center">
                                    <i class="ti-trash remove-icon"></i>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Carts)
                            {
                                <tr>
                                    <td class="image" data-title="No">
                                        <img src="@item.Products.Image" alt="#">
                                    </td>
                                    <td class="product-des" data-title="Description">
                                        <p class="product-name">
                                            <a href="#">@item.Products.ProductName</a>
                                        </p>
                                        <p class="product-des">@item.Products.Category</p>
                                    </td>
                                    <td class="price" data-title="Price">
                                        <span>$@item.Products.Price </span>
                                    </td>
                                    <td>
                                        <div class="input-append">
                                            <input class="span1" style="max-width: 60px" placeholder="1" id="appendedInputButtons" size="20"
                                                   type="number" min="1" value="@item.Quantity" name="quantity" />
                                            <button class="btn" type="submit">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="total-amount" data-title="Total">
                                        <span>$@(item.Products.Price * item.Quantity)</span>
                                    </td>
                                    <td class="action" data-title="Remove">
                                        <a asp-controller="Cart" asp-action="RemoveCart" asp-route-id="@item.Products.Id">
                                            <i class="ti-trash remove-icon"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="total-amount">
                    <div class="row">
                        <div class="col-lg-8 col-md-5 col-12">
                            <div class="left">
                                <div class="coupon">
                                    <form action="#" target="_blank">
                                        <input name="Coupon" placeholder="Enter Your Coupon">
                                        <button class="btn">Apply</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-7 col-12">
                            <div class="right">
                                <ul>
                                    <li>Cart Subtotal<span>$@Model.CartTotal</span></li>
                                    <li>Shipping<span>Free</span></li>
                                    <li>You Save<span>Free Ship</span></li>
                                    <li class="last">You Pay<span>$@Model.CartTotal</span></li>
                                </ul>
                                <div class="button5">
                                    <form method="post" asp-controller="cart" asp-action="checkout">
                                        <button type="submit" value="Checkout" class="btn">Checkout With PayPal</button>
                                        <input type="hidden" name="total" value="1" />
                                    </form>
                                    <a href="#" class="btn">Continue shopping</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
