@model List<Sneaker.Models.Trademark>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Product Overview</h3>
    </div>
    <div class="col-12 mt-3">
        <a asp-controller="Product" asp-action="ExportToExcel" class="btn btn-primary">
            Export
        </a>
    </div>
    <div class="col-12 mt-3">
        <a asp-controller="Product" asp-action="ImportProduct" class="btn btn-primary">
            Import
        </a>
    </div>
</div>

<div class="row mt-2">
    @foreach (var item in Model)
    {
        <div class="mr-1 ml-1 card" style="width: 18rem;">
            <img @*src="/images/DefaultFaculty.jpg"*@ class="card-img-top" alt="@item.TrademarkName">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(m => item.TrademarkName)</h5>
                <p class="card-text">@Html.DisplayFor(m => item.Description)</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-success text-white mr-1" asp-action="ListProducts" asp-route-id="@item.Id">View Product</a>
                    </div>
            </div>
        </div>
    }
</div>














@*<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Title URL</td>
                    <td>Product Name</td>
                    <td>Image</td>
                    <td>Image1</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Badge</td>
                    <td>Category</td>
                    <td>ProductCard</td>
                    <td>Status</td>
                    <td>StatusMessage</td>
                    <td>ChangeStatusBy</td>

                </tr>
            </thead>
            <tbody>
                @foreach (Product Iteam in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Iteam.Id, new { @id = "Id", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Title, new { @id = "Title", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.TitleURL, new { @id = "TitleURL", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.ProductName, new { @id = "ProductName", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Image, new { @id = "Image", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Image1, new { @id = "Image1", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Quantity, new { @id = "Quantity", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Price, new { @id = "Price", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Badge, new { @id = "Badge", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Category, new { @id = "Category", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.ProductCard, new { @id = "ProductCard", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Status, new { @id = "Status", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.StatusMessage, new { @id = "StatusMessage", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.ChangeStatusBy, new { @id = "ChangeStatusBy", @class = "form-control" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@


