@model List<Sneaker.Models.Product>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}
<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">User Overview</h3>
    </div>
    <div class="col-12 mt-3">
        <a asp-controller="Product" asp-action="ExportToExcel" class="btn btn-primary">
            Export
        </a>
    </div>
    <div class="col-12 mt-3">
        <a asp-controller="Product" asp-action="ImportProduct" class="btn btn-primary">
            Import
        </a>
    </div>
</div>
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive-xl table mt-2">
            <table class="table my-0 table-hover" id="ProductTable">
                <thead class="thead-light">
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Title URL</td>
                    <td>Product Name</td>
                    <td>Image</td>
                    <td>Image1</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Badge</td>
                    <td>Category</td>
                    <td>ProductCard</td>
                    <td>Status</td>
                    <td>StatusMessage</td>
                    <td>ChangeStatusBy</td>

                </tr>
            </thead>
            <tbody>
                @foreach (Product Iteam in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Iteam.Id, new { @id = "Id", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Title, new { @id = "Title", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.TitleURL, new { @id = "TitleURL", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.ProductName, new { @id = "ProductName", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Image, new { @id = "Image", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Image1, new { @id = "Image1", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Quantity, new { @id = "Quantity", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Price, new { @id = "Price", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Badge, new { @id = "Badge", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Category, new { @id = "Category", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.ProductCard, new { @id = "ProductCard", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.Status, new { @id = "Status", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.StatusMessage, new { @id = "StatusMessage", @class = "form-control" })</td>
                        <td>@Html.DisplayFor(modelItem => Iteam.ChangeStatusBy, new { @id = "ChangeStatusBy", @class = "form-control" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


