@model System.Collections.Generic.IEnumerable<Sneaker.Models.Item>

@{
    ViewBag.Title = "title";
    Layout = "_UserLayout";
}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="section-title">
                <h2>List Product</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="product-info">
                <div class="nav-main">
                </div>
                <div class="tab-content" id="myTabContent">
                    <!-- Start Single Tab -->
                    <div class="tab-pane fade show active" id="man" role="tabpanel">
                        <div class="tab-single">
                            <div class="row">
                                @foreach (var product in Model)
                                {
                                    <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                        <div class="single-product">
                                            <div class="name">
                                                <span>@product.Trademark.TrademarkName</span>
                                            </div>
                                            <div class="product-img">
                                                <a href="/Product/ProductDetails/@product.Id">
                                                    <img class="default-img" src="@product.Image" alt="#">
                                                    <img class="hover-img" src="@product.Image" alt="#">
                                                    @if (product.Badge != null)
                                                    {
                                                        <span class="new">@product.Badge</span>
                                                    }
                                                </a>
                                                <div class="button-head">
                                                    <div class="product-action-2">
                                                        <a type="button" class="add-to-cart" data-id="@product.Id">Add to cart</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-content">
                                                <h3>
                                                    <a href="/Item/ProductDetails/@product.Id">@product.ProductName</a>
                                                </h3>
                                                <div class="product-price">
                                                    <span>@product.Price</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                    <!--/ End Single Tab -->
                </div>
            </div>
        </div>
    </div>
</div>