@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using System.Security.Claims
@using Sneaker.Utility


<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Title Tag  -->
    <title>Sneaker - eCommerce</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/user/images/favicon.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/user/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/user/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/user/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/user/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/user/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/user/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/user/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/user/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/user/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/user/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/user/css/reset.css">
    <link rel="stylesheet" href="~/user/style.css">
    <link rel="stylesheet" href="~/user/css/responsive.css">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" />

    <title>My Cart</title>
    <link rel="stylesheet" href="~/cart/css/bootstrap.min.css">
    <style>
        .badge-notify {
            background: red;
            position: relative;
            top: -20px;
            right: 10px;
        }

        .my-cart-icon-affix {
            position: fixed;
            z-index: 999;
        }
    </style>

</head>
<body class="js">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-12">
                        <!-- Top Left -->
                        <div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i> +84 977966706</li>
                                <li><i class="ti-email"></i> huynbtgcd17258@fpt.edu.vn</li>
                            </ul>
                        </div>
                        <!--/ End Top Left -->
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <!-- Top Right -->
                        <div class="right-content">
                            <ul class="list-main">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item dropdown no-arrow">
                                        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                            <img id="userAvatar" width="40" height="40" class="user-avatar rounded-circle mr-2" src="uploads/avatar.jpeg" alt="User Avatar">
                                            <span class="d-none d-md-inline-block">@User.FindFirstValue(ClaimTypes.Name)</span>
                                        </a>
                                        <!-- Dropdown - User Information -->
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                                Profile
                                            </a>
                                            @if (User.IsInRole(SystemRoles.Administrator))
                                            {
                                                <a class="dropdown-item" asp-controller="Admin" asp-action="Dashboard">
                                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Dashboard
                                                </a>
                                            }

                                            <form class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                                                <button class="dropdown-item text-danger" type="submit">Logout</button>
                                            </form>
                                        </div>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <i class="ti-power-off"></i><a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                    </li>
                                }

                            </ul>
                        </div>
                        <!-- End Top Right -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->

        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="index.html">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search">
                                <a href="#0">
                                    <i class="ti-search"></i>
                                </a>
                            </div>
                            <!-- Search Form -->
                            <div class="search-top">
                                <form class="search-form">
                                    <input type="text" placeholder="Search here..." name="search">
                                    <button value="search" type="submit">
                                        <i class="ti-search"></i>
                                    </button>
                                </form>
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav">
                            <div class="slicknav_menu">
                                <a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="">
                                    <span class="slicknav_menutxt"></span>
                                    <span class="slicknav_icon slicknav_no-text">
                                        <span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span>
                                    </span>
                                </a>
                                <ul class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;">
                                    <li class="active">
                                        <a href="#" role="menuitem" tabindex="-1">Home</a>
                                    </li>
                                    <li>
                                        <a href="#" role="menuitem" tabindex="-1">Product</a>
                                    </li>
                                    <li>
                                        <a href="#" role="menuitem" tabindex="-1">Service</a>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent">
                                        <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                            <span class="slicknav_arrow">►</span>
                                        </a>
                                        <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                            <li>
                                                <a href="cart.html" role="menuitem" tabindex="-1">Cart</a>
                                            </li>
                                            <li>
                                                <a href="checkout.html" role="menuitem" tabindex="-1">Checkout</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" role="menuitem" tabindex="-1">Pages</a>
                                    </li>
                                    <li class="slicknav_collapsed slicknav_parent">
                                        <a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="">
                                            <span class="slicknav_arrow">►</span>
                                        </a>
                                        <ul class="dropdown slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
                                            <li>
                                                <a href="blog-single-sidebar.html" role="menuitem" tabindex="-1">Blog Single Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="contact.html" role="menuitem" tabindex="-1">Contact Us</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <select style="display: none;">
                                    <option selected="selected">All Category</option>
                                    <option>watch</option>
                                    <option>mobile</option>
                                    <option>kid’s item</option>
                                </select>
                                <div class="nice-select" tabindex="0">
                                    <span class="current">All Category</span>
                                    <ul class="list">
                                        <li data-value="All Category" class="option selected">All Category</li>
                                        <li data-value="watch" class="option">watch</li>
                                        <li data-value="mobile" class="option">mobile</li>
                                        <li data-value="kid’s item" class="option">kid’s item</li>
                                    </ul>
                                </div>
                                <form>
                                    <input name="search" placeholder="Search Products Here....." type="search">
                                    <button class="btnn">
                                        <i class="ti-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <div class="sinlge-bar shopping">
                                <a asp-controller="Cart" asp-action="Index" class="single-icon">
                                    <i class="ti-bag"></i> <span id="spnCart" class="total-count">@ViewBag.cartCount</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    @*@await Html.PartialAsync("_CartView")*@
                </div>
            </div>
        </div>

        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="all-category">
                                <h3 class="cat-heading"><i class="fa fa-bars" aria-hidden="true"></i>CATEGORIES</h3>
                                <ul class="main-category ">
                                    <li class="main-mega">
                                        <a href="#">Sneaker<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                        <ul class="mega-menu">
                                            <li class="single-menu">
                                                <a href="#" class="title-link">Shop Adidas</a>
                                                <div class="image">
                                                    <img src="~/trademarks/Adidas.png" alt="">
                                                </div>
                                                <div class="inner-link">
                                                    <a asp-controller="User" asp-action="ListProducts" asp-route-id="10">All Product</a>
                                                    <a asp-controller="User" asp-action="ListSale" asp-route-id="10">On Sale</a>
                                                    <a asp-controller="User" asp-action="ListNew" asp-route-id="7">New</a>
                                                    <a href="#"></a>
                                                </div>
                                            </li>
                                            <li class="single-menu">
                                                <a href="#" class="title-link">Shop Nike</a>
                                                <div class="image">
                                                    <img src="~/trademarks/Nike.png" alt="#">
                                                </div>
                                                <div class="inner-link">
                                                    <a asp-controller="User" asp-action="ListProducts" asp-route-id="7">All Product</a>
                                                    <a asp-controller="User" asp-action="ListSale" asp-route-id="7">On Sale</a>
                                                    <a asp-controller="User" asp-action="ListNew" asp-route-id="7">New</a>
                                                    <a href="#"></a>
                                                </div>
                                            </li>
                                            <li class="single-menu">
                                                <a href="#" class="title-link">Shop Van</a>
                                                <div class="image">
                                                    <img src="~/trademarks/Van.png" alt="#">
                                                </div>
                                                <div class="inner-link">
                                                    <a asp-controller="User" asp-action="ListProducts" asp-route-id="8">All Product</a>
                                                    <a asp-controller="User" asp-action="ListSale" asp-route-id="8">On Sale</a>
                                                    <a asp-controller="User" asp-action="ListNew" asp-route-id="8">New</a>
                                                    <a href="#"></a>
                                                </div>
                                            </li>
                                            <li class="single-menu">
                                                <a href="#" class="title-link">Shop Reebok</a>
                                                <div class="image">
                                                    <img src="~/trademarks/Reebok.png" alt="#">
                                                </div>
                                                <div class="inner-link">
                                                    <a asp-controller="User" asp-action="ListProducts" asp-route-id="9">All Product</a>
                                                    <a asp-controller="User" asp-action="ListSale" asp-route-id="9">On Sale</a>
                                                    <a asp-controller="User" asp-action="ListNew" asp-route-id="9">New</a>
                                                    <a href="#"></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li>
                                                    <a asp-controller="Home" asp-action="Index">Home</a>
                                                </li>
                                                <li>
                                                    <a asp-controller="User" asp-action="Index">Product</a>
                                                </li>
                                                <li>
                                                    <a href="#">Service</a>
                                                </li>
                                                <li>
                                                    <a href="#">Shop<i class="ti-angle-down"></i><span class="new">New</span></a>
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a href="cart.html">Cart</a>
                                                        </li>
                                                        <li>
                                                            <a href="checkout.html">Checkout</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#">Pages</a>
                                                </li>
                                                <li>
                                                    <a href="#">Blog<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a href="blog-single-sidebar.html">Blog Single Sidebar</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="contact.html">Contact Us</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Start Product Area -->
    <div class="product-area section">
        @RenderBody()
    </div>
    <!-- End Product Area -->
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="images/logo2.png" alt="#">
                                </a>
                            </div>
                            <p class="text">Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</p>
                            <p class="call">
                                Got Question? Call us 24/7
                                <span>
                                    <a href="tel:123456789">+0123 456 789</a>
                                </span>
                            </p>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Information</h4>
                            <ul>
                                <li>
                                    <a href="#">About Us</a>
                                </li>
                                <li>
                                    <a href="#">Faq</a>
                                </li>
                                <li>
                                    <a href="#">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Help</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-2 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Customer Service</h4>
                            <ul>
                                <li>
                                    <a href="#">Payment Methods</a>
                                </li>
                                <li>
                                    <a href="#">Money-back</a>
                                </li>
                                <li>
                                    <a href="#">Returns</a>
                                </li>
                                <li>
                                    <a href="#">Shipping</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer social">
                            <h4>Get In Tuch</h4>
                            <!-- Single Widget -->
                            <div class="contact">
                                <ul>
                                    <li>NO. 342 - London Oxford Street.</li>
                                    <li>012 United Kingdom.</li>
                                    <li>info@eshop.com</li>
                                    <li>+032 3456 7890</li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-flickr"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <div class="copyright">
            <div class="container">
                <div class="inner">
                </div>
            </div>
        </div>
    </footer>
    <!-- /End Footer Area -->
    <!-- Jquery -->
    <script src="~/user/js/jquery.min.js"></script>
    <script src="~/user/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/user/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/user/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/user/js/bootstrap.min.js"></script>
    <!-- Slicknav JS -->
    <script src="~/user/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/user/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/user/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/user/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/user/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/user/js/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/user/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/user/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/user/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/user/js/easing.js"></script>
    <!-- Active JS -->
    <script src="~/user/js/active.js"></script>
    <script type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/cart/js/jquery-2.2.3.min.js"></script>
    <script type='text/javascript' src="~/cart/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="~/cart/js/jquery.mycart.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    


    @section Scripts{
        <script>
    $(document).ready(function () {
        $.ajax({
            url: '/Admin/Avatar/',
            type: 'GET',
            data: {userId: '@User.FindFirstValue(ClaimTypes.NameIdentifier)'},
            success: function (data){
                $('#userAvatar').attr('src', '/uploads/' + data.avatar);
                $('#userAvatarComment').attr('src', '/uploads/' + data.avatar);
            }
        });
    })
        </script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>